* {
  padding: 0;
  margin: 0;
  font-family: "DECOVAR REGULAR24TERMB", sans-serif;
  font-weight: normal;
  font-style: normal;
}
#bg-grey {
  display: block;
  height: 80vh;
  width: 100vw;
}
#home {
  overflow: hidden;
}
#contact {
  overflow: hidden;
}

/* home page */
#home-page {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: url("/img/main-dj.jpg") top center / cover;
}

/* navbar */
#main-nav {
  width: 90vw;
  margin: 0 auto;
  z-index: 20;
  height: 12vh;
  /* text-align: center; */
}
.main-page > div {
  margin-left: 60px !important;
}
.main-home-page {
  text-align: center;
}
.main-page {
  display: inline-block !important;
  float: none !important;
  height: 50px;
  margin-top: 20px;
}
#logo {
  float: left;
  height: 50px;
  width: 100px;
  background-color: transparent;
  border: none;
  box-shadow: none;
  z-index: 20;
}
#logo:hover {
  cursor: pointer;
}
#logo .nav-logo {
  height: 80px;
}

#main-home .row {
  float: right;
}

#main-home .row ul {
  display: flex;
  list-style: none;
}
/* main - home page */
#center-logo {
  display: block;
  width: 800px;
  height: 100%;
  margin-top: 100px;
  margin-right: auto;
  margin-left: auto;
}
#center-logo .main-logo {
  width: 100%;
}
#sub-btn {
  position: absolute;
  right: 0;
  top: 0;
  background-color: #e02450;
  color: white;
  font-size: 22px;
  width: 300px;
  height: 60px;
  text-align: center;
  /* padding-top: 15px; */
  transform: rotate(-90deg);
  margin-right: -130px;
  margin-top: 300px;
  border: none;
}
#sub-btn:hover {
  cursor: pointer;
}
#sub-btn h2 a {
  color: white;
  text-decoration: none;
}

/* PLAYER */
#footer-main {
  position: fixed;
  bottom: 0;
  height: 100px;
  width: 100vw;
}
#player {
  position: absolute;
  bottom: 0;
  width: 90vw;
  height: 70px;
  margin: 0 5vw;
}
#player-cont {
  display: flex;
}
#buttons {
  width: 180px;
  margin-left: 150px;
  display: block;
}

#next,
#pre,
#play,
#pause {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 0;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

#seek-bar {
  width: 450px;
  height: 5px;
  background-color: white;
  display: flex;
  border-radius: 50px;
  margin-left: 50px;
  margin-top: 20px;
  cursor: pointer;
}

#handle {
  width: 4px;
  height: 20px;
  background-color: #e02450;
  margin-top: -7px;
}
#songTitle {
  position: absolute;
  color: white;
  font-size: 35px;
  height: 50px;
  top: 0;
}
#dj-name {
  position: absolute;
  color: #e02450;
  top: 35px;
  left: 1px;
  height: 50px;
  width: 100px;
  font-size: 20px;
}
/* youtube btn */
#popupbtn {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 150px;
  height: 100px;
  background-image: url("/img/button.image.png");
  background-size: 150px 100px;
  border: none;
  transition: all 0.4s;
  margin-top: -82px;
}
#popupbtn:hover {
  width: 250px;
  height: 175px;
  background-size: 250px 175px;
  transition: all 0.4s;
}
.popup {
  display: none;
  width: 560px;
  height: 315px;
  margin: 150px auto;

  transition: all 0.4s;
}
.blur-bg {
  position: fixed;
  top: 0;
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  transition: all 0.4s;
  filter: blur(0px);
}
.blur {
  filter: blur(3px);
}

.visible {
  display: block;
  transition: all 0.4s;
}

/* contact us */

#contact {
  background-color: grey;
  height: 100vh;
  width: 100vw;
}
#contact #home-page {
  background-image: none;
}
#top-bg {
  position: fixed;
  top: 0;
  height: 300px;

  z-index: -1;
}

#bot-bg {
  position: fixed;
  bottom: 0;
  height: 300px;
  z-index: -1;
}
#bot-bg img {
  height: 300px;
  width: 100vw;
}

/* contact us  */
#main-contact h1 {
  text-align: center;
  margin-top: 20px;
  /* margin-bottom: 20px; */
  color: white;
  font-size: 50px;
}
#form {
  display: block;
  float: left;
  width: 30vw;
  margin-left: 20vw;
}

.submit-form {
  width: 200px;
  height: 40px;
  margin-top: 15px;
  background: #e02450;
  border: none;
  color: white;
  font-size: 20px;
  transition: all 0.5s;
}
.submit-form:hover {
  color: #e02450;
  background: white;
}

#info {
  display: block;
  float: right;
  width: 30vw;
  height: 388px;
  margin-right: 20vw;
}
#info h3 {
  color: white;
  font-size: 20px;
  margin-left: 40px;
  margin-top: 30px;
}
#info p {
  color: white;
  font-size: 15px;
  margin-bottom: 10px;

  margin-left: 40px;
}
#info h2 {
  color: white;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 50px;
}
#info ul {
  text-align: center;
  margin: 0 auto;
}
#info ul li {
  display: inline-block;
  margin-right: 20px;
  margin-left: 20px;
  text-align: center;
  list-style: none;
}
#info ul li button {
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: none;
}
#info ul {
  height: 50px;
}
#icon-container {
  width: 50px;
  height: 50px;
}
#icon-container a {
  width: 50px;
  height: 50px;
}

#icon-container img {
  width: 40px;
  height: 40px;
  transition: all 0.5s;
}
#icon-container img:hover {
  width: 60px;
  height: 60px;
  transition: all 0.5s;
  transform: rotate(360deg);
}
#seperator {
  position: absolute;
  margin-left: 50%;
  margin-top: 30px;
  width: 2px;
  height: 300px;
  background-color: #e02450;
}

/* Footer */
#secondary-nav {
  position: relative;
  bottom: 0;
  display: flex;
  height: 100px;
  width: 60vw;
  margin: 0 auto;
}
#secondary-nav li {
  list-style: none;
}
#secondary-nav a {
  text-decoration: none;
  color: white;
  font-size: 10px;
  transition: all 0.5s;
}
#secondary-nav a:hover {
  color: #e02450;
  transition: all 0.5s;
}
#secondary-nav h4 {
  margin-left: 50px;
  font-size: 20px;
  color: white;
  margin-bottom: 10px;
}
#secondary-nav li {
  font-size: 14px;
}

.footer-container {
  display: block;
  top: 0;
  height: 90px;
  width: 200px;
}

.left-footer {
  display: inline-block;
}
.right-footer {
  display: inline-block;
  margin-left: 20px;
}

#footer-sperator {
  display: block;
  width: 1px;
  height: 60px;
  background-color: #e02450;
  float: right;
  margin-right: 10px;
}
.first {
  margin-top: -48px;
}
.third {
  margin-top: -56px;
}
#secondary-nav h5 {
  color: white;
}
#secondary-nav p {
  color: white;
  font-size: 10px;
  margin-bottom: 5px;
}
#secondary-nav button {
  display: block;
  background-color: #e02450;
  border: none;
  padding: 12px 10px;
  color: white;
  font-size: 20px;
  margin-top: 20px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s;
}
#secondary-nav button:hover {
  background: white;
  color: #e02450;
  transition: all 0.5s;
}
#about-container ul {
  margin-left: 50px;
}
#contact-container h5,
#contact-container p {
  margin-left: 20px;
}
/* NAVBAR BTNS */

span.icon {
  margin: 0 5px;
  color: #e02450;
}

.mrng-60-top {
  margin-top: 60px;
}

/* Global Button Styles */
a.animated-button:link,
a.animated-button:visited {
  position: relative;
  display: block;
  margin: 30px auto 0;
  padding: 14px 15px;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  letter-spacing: 0.08em;
  border-radius: 0;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
a.animated-button:link:after,
a.animated-button:visited:after {
  content: "";
  position: absolute;
  height: 0%;
  left: 50%;
  top: 50%;
  width: 150%;
  z-index: -1;
  -webkit-transition: all 0.75s ease 0s;
  -moz-transition: all 0.75s ease 0s;
  -o-transition: all 0.75s ease 0s;
  transition: all 0.75s ease 0s;
}
a.animated-button:link:hover,
a.animated-button:visited:hover {
  color: #fff;
  text-shadow: none;
}
a.animated-button:link:hover:after,
a.animated-button:visited:hover:after {
  height: 450%;
}
a.animated-button:link,
a.animated-button:visited {
  position: relative;
  display: block;
  margin: 30px auto 0;
  padding: 7px 15px;
  color: #fff;
  font-size: 14px;
  border-radius: 0;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  letter-spacing: 0.08em;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  height: 15px !important;
}

/* Victoria Buttons */

a.animated-button.victoria-one:after {
  background: #e02450;
  -moz-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
  -ms-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
  transform: translateX(-50%) translateY(-50%) rotate(-25deg);
}

a.animated-button.victoria-four:hover:after {
  opacity: 1;
  height: 600% !important;
}
.row {
  display: block;
  float: right;
  height: 50px;
  margin-top: 20px;
}
.row > div {
  float: right;
  height: 25px;
  margin-top: -19px;
  margin-left: 10px;
}

.row .home-page {
  display: block;
  text-align: center;
}

/* FORMS TEST */
.input {
  position: relative;
  z-index: 1;
  display: inline-block;
  margin: 0px;
  max-width: 350px;
  width: calc(100% - 2em);
  vertical-align: top;
}

.input__field {
  position: relative;
  display: block;
  float: right;
  padding: 0.8em;
  width: 60%;
  border: none;
  border-radius: 0;
  background: #ca1717;
  color: #aaa;
  font-weight: 400;
  -webkit-appearance: none; /* for box shadows to show on iOS */
}

.input__field:focus {
  outline: none;
}

.input__label {
  display: inline-block;
  float: right;
  padding: 0 1em;
  width: 40%;
  color: #696969;
  font-weight: bold;
  font-size: 70.25%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.input__label-content {
  position: relative;
  display: block;
  padding: 1.6em 0;
  width: 100%;
}

.graphic {
  position: absolute;
  top: 0;
  left: 0;
  fill: none;
}

.icon {
  color: #ddd;
  font-size: 150%;
}
/* Kozakura */
.input--kozakura {
  overflow: hidden;
  padding-bottom: 1em;
}

.input__field--kozakura {
  padding: 0.25em 0.5em;
  margin-top: 1.25em;
  width: 100%;
  background: transparent;
  color: #2f3238;
  font-size: 1.55em;
  opacity: 0;
}

.input__label--kozakura {
  width: 100%;
  text-align: left;
  position: absolute;
  top: 1em;
  pointer-events: none;
  overflow: hidden;
  padding: 0 0.25em;
  -webkit-transform: translate3d(1em, 2.75em, 0);
  transform: translate3d(1em, 2.75em, 0);
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
}

.input__label-content--kozakura {
  color: #a4a5a6;
  padding: 0.4em 0 0.25em;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
}

.input__label-content--kozakura::after {
  content: attr(data-content);
  position: absolute;
  font-weight: 800;
  top: 70%;
  left: 0;
  height: 100%;
  width: 100%;
  color: #ff2659;
  padding: 0.25em 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.85rem;
}

.graphic--kozakura {
  fill: white;
  pointer-events: none;
  top: 1em;
  bottom: 0px;
  height: 4.5em;
  z-index: -1;
  -webkit-transition: -webkit-transform 0.7s, fill 0.7s;
  transition: transform 0.7s, fill 0.7s;
  -webkit-transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
  transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
}

.input__field--kozakura:focus,
.input--filled .input__field--kozakura {
  -webkit-transition: opacity 0s 0.35s;
  transition: opacity 0s 0.35s;
  opacity: 1;
}

.input__field--kozakura:focus + .input__label--kozakura,
.input--filled .input__label--kozakura {
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.input__field--kozakura:focus
  + .input__label--kozakura
  .input__label-content--kozakura,
.input--filled .input__label-content--kozakura {
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
}

.input__field--kozakura:focus ~ .graphic--kozakura,
.input--filled .graphic--kozakura {
  fill: #fff;
  -webkit-transform: translate3d(-66.6%, 0, 0);
  transform: translate3d(-66.6%, 0, 0);
}
