* {
  padding: 0;
  margin: 0;
  font-family: "DECOVAR REGULAR24TERMB", sans-serif;
  font-weight: normal;
  font-style: normal;
  outline: none;
}
body {
  overflow-y: auto;
}
#contact {
  overflow-y: auto;
}
.visable-container {
  display: block !important;
}
/* home page */

#main-home {
  height: 100vh;
  width: 100vw;
  background: url("/img/main-dj.jpg") top center/cover;
  display: flex;
  position: relative;
}
#header-index {
  position: absolute;
}
#popupvideo {
  position: relative;
  height: 100vh;
  width: 100vw;
  margin-top: 0px;
}
#video-music {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translatey(-50%) translateX(-50%);
}

#center-logo {
  width: 60%;
  display: flex;
  overflow: hidden;
  align-items: center;
  margin-left: 20%;
}
#center-logo img {
  width: 100%;
}

#sub-btn {
  position: fixed;
  text-decoration: none;
  right: 0;
  top: 46.5%;
  background-color: #e02450;
  color: white;
  font-size: 1.1rem;
  width: 200px;
  height: 20px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;

  transform: rotate(-90deg);
  margin-right: -85px;
  justify-items: center;
  border: none;
  z-index: 30;
  padding-right: 5px;
  padding-left: 5px;

  transition: all 0.4s ease-in-out;
}
#sub-btn:hover {
  cursor: pointer;
  background: white;
  color: #e02450;
}
#sub-btn a {
  color: white;
  text-decoration: none;
  padding-left: 3px;
  padding-right: 3px;
}
/* home page-navbar */
#home-main-nav {
  position: relative;
  display: flex;
  top: 0;
  width: 90vw;
  z-index: 20;
  height: 12vh;
  margin-left: 5vw;
}
#home-main-nav .row {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  float: none;
}
/* NAVBAR BTNS */

span.icon {
  margin: 0 5px;
  color: #e02450;
}

.mrng-60-top {
  margin-top: 60px;
}

/* Global Button Styles */
a.animated-button:link,
a.animated-button:visited {
  position: relative;
  display: block;
  margin: 30px auto 0;
  padding: 14px 15px;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  letter-spacing: 0.08em;
  border-radius: 0;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
a.animated-button:link:after,
a.animated-button:visited:after {
  content: "";
  position: absolute;
  height: 0%;
  left: 50%;
  top: 50%;
  width: 150%;
  z-index: -1;
  -webkit-transition: all 0.75s ease 0s;
  -moz-transition: all 0.75s ease 0s;
  -o-transition: all 0.75s ease 0s;
  transition: all 0.75s ease 0s;
}
a.animated-button:link:hover,
a.animated-button:visited:hover {
  color: #fff;
  text-shadow: none;
}
a.animated-button:link:hover:after,
a.animated-button:visited:hover:after {
  height: 450%;
}
a.animated-button:link,
a.animated-button:visited {
  position: relative;
  display: block;
  margin: 30px auto 0;
  padding: 7px 15px;
  color: #fff;
  font-size: 14px;
  border-radius: 0;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  letter-spacing: 0.08em;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  height: 15px !important;
}

/* Victoria Buttons */

a.animated-button.victoria-one:after {
  background: #e02450;
  -moz-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
  -ms-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
  transform: translateX(-50%) translateY(-50%) rotate(-25deg);
}

a.animated-button.victoria-four:hover:after {
  opacity: 1;
  height: 600% !important;
}
.row {
  display: block;
  float: right;
  height: 50px;
  margin-top: 20px;
}
.row > div {
  float: right;
  height: 25px;
  margin-top: -19px;
  margin-left: 10px;
}
#home-footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 60px;
}
#player {
  position: relative;
  width: 90vw;
  height: 50px;
  margin-left: 5vw;
}
#player-cont {
  width: 90vw;
  float: left;
  display: grid;
  grid-template-columns: 1fr 2.2fr 5fr 2fr;
  grid-row: 20px 20px;
}
#songTitle {
  display: inline-block;
  color: white;
  font-size: 2rem;
  top: 0;
  width: 120px;
}
#dj-name {
  position: absolute;
  color: #e02450;
  top: 35px;
  left: 1px;
  height: 50px;
  width: 100px;
  font-size: 20px;
}
#buttons {
  display: inline-block;
}
#next,
#pre,
#play,
#pause {
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 0;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}
#next img,
#pre img,
#play img,
#pause img {
  width: 40px;
  height: 40px;
}
#seek-bar {
  width: 90%;
  height: 5px;
  background-color: white;
  display: flex;
  border-radius: 50px;
  margin-top: 20px;
  cursor: pointer;
}

#handle {
  width: 4px;
  height: 20px;
  background-color: #e02450;
  margin-top: -7px;
}

/* youtube btn */
#popupbtn {
  position: absolute;
  bottom: 10px;
  right: 0;
  width: 150px;
  height: 100px;
  background-image: url("/img/button.image.jpeg");
  background-size: 150px 100px;
  border: none;
  transition: all 0.4s;
  margin-top: -82px;
  cursor: pointer;
  border: white 2px solid;
}
#popupbtn:hover {
  width: 250px;
  height: 175px;
  background-size: 250px 175px;
  transition: all 0.4s;
}
.popup {
  display: none;
  width: 560px;
  height: 315px;
  margin: 150px auto;

  transition: all 0.4s;
}
.blur-bg {
  position: fixed;
  top: 0;
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  transition: all 0.4s;
  filter: blur(0px);
}
.blur {
  filter: blur(3px);
}

.visible {
  display: block;
  transition: all 0.4s;
}

#main-nav {
  position: absolute;
  top: 0;
  width: 90vw;
  z-index: 20;
  height: 12vh;
  margin-left: 5vw;
}

/* About navbar*/

#logo {
  display: inline-block;
  height: 50px;
  width: 100px;
  margin-top: 15px;
}
#logo img {
  height: 50px;
  display: inline-block;
}

/* About */
#about-bg {
  background: url("/img/about-bg-2\ .jpg") top center/cover;
  position: fixed;
  filter: blur(8px);
  top: 0;
  left: 0;
  width: 300vw;
  height: 100%;
  z-index: -30;
  max-height: 1000px;
}
#main-about {
  height: 100vh;
  width: 100vw;
  background: transparent;
  display: flex;
  position: relative;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
}
.blur-img {
  width: 2000px;
  z-index: -5;
  filter: blur(7px);
  opacity: 0.6;
  z-index: -40;
  position: fixed;
  top: 0;
}

#top-bg {
  position: fixed;
  top: 0;
  z-index: -20;
}
#top-bg img {
  width: 100vw;
}
#bot-bg {
  position: fixed;
  bottom: 0;
  z-index: -20;
  margin-bottom: -10px;
  pointer-events: none;
}
#bot-bg img {
  width: 100vw;
}

#arrow-right {
  position: absolute;
  right: 1%;
  top: 47%;
  width: 140px;
  height: 100px;
  z-index: 2;
}
#arrow-right img {
  width: 100px;
  height: 100px;
}

#arrow-right > div {
  width: 100px;
  height: 70px;
  transition: all 0.5s;
}
#arrow-right:hover > div {
  cursor: pointer;
  animation-name: right;
  animation-duration: 1s;
  animation-iteration-count: infinite;

  transition: all 0.5s;
}
@keyframes right {
  0% {
    margin-left: 0;
  }
  50% {
    margin-left: 30px;
  }
  100% {
    margin-left: 0;
  }
}

#arrow-left {
  position: absolute;
  left: 5%;
  top: 47%;
  width: 150px;
  height: 100px;
  z-index: 2;
}
#arrow-left img {
  width: 100px;
  height: 100px;
}

#arrow-left > div {
  width: 100px;
  height: 70px;
  transition: all 0.5s;
}
#arrow-left:hover > div {
  cursor: pointer;
  animation-name: left;
  animation-duration: 1s;
  animation-iteration-count: infinite;

  transition: all 0.5s;
}
@keyframes left {
  0% {
    margin-left: 0;
  }
  50% {
    margin-left: -30px;
  }
  100% {
    margin-left: 0;
  }
}
.slideshow-container {
  display: block;
  height: 70vh;
  width: 100vw;
  margin-top: 50vh;
  transform: translateY(-50%);
}

.mySlides {
  width: 70vw;
  height: 60vh;
  margin-left: 15vw;
  margin-top: 30px;
  display: flex;
}
#div-content {
  float: left;
  width: 50%;
}

#div-content h1 {
  display: block;
  width: 250px;
  color: white;
  font-size: 3rem;
}
#div-content p {
  display: block;
  width: 100%;
  color: white;
  font-size: 1rem;

  margin-top: 50px;
}
#div-content span {
  font-size: 1.3rem;
}
#div-content h3 {
  color: #e02450;
}
#div-content ul {
  color: white;
  list-style: none;
  font-size: 0.8rem;
}
#div-img {
  width: 50%;
  height: 100%;
  float: right;
  margin-right: 0px;
}
#div-img img {
  float: right;
  max-height: 100%;
  max-width: 100%;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 12px;
  width: 12px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: all 0.6s ease;
}
.dots {
  margin-top: 20px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
}

.active,
.dot:hover {
  background-color: #e02450;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* actual footer */
#footer-about {
  position: absolute;
  bottom: 0;
  left: 0;
  border-top: #e02450 solid 2px;
  overflow: hidden;
  height: 70px;
  width: 100vw;
}
.footer-container {
  position: absolute;
  bottom: 0;
  display: grid;
  grid-template-columns: 1fr 0.01fr 1fr 0.01fr 1fr;
  width: 95vw;
  height: 35px;
  left: 0;
  margin-left: 5vw;
}

#footer-about .about ul {
  list-style: none;
}

#footer-about a {
  text-decoration: none;
  color: white;

  transition: all 0.4s ease-in-out;
}
#footer-about a:hover {
  color: #e02450;
}
#footer-about h4 {
  font-size: 1rem;
  float: left;
}
#footer-about .about ul {
  float: left;
  padding-left: 1rem;
}
#footer-about .about ul li {
  float: left;
  padding-right: 1rem;
}
#footer-about .about ul a {
  font-size: 0.6rem;
}

#footer-separator {
  height: 20px;
  width: 1px;
  background: #e02450;
  float: right;
  margin-right: 15px;
}
.school {
  width: 90%;
  position: relative;
}
#footer-about .school h4 {
  font-size: 1rem !important;
  color: white;
  margin-left: 0px;
}
#footer-about .school a {
  font-size: 0.8rem;
  padding: 10px 15px;
  background: #e02450;
  transition: all 0.4s ease-in-out;
  float: right;
  margin-top: -8px;
  position: absolute;
  right: 0;
}
#footer-about .school a:hover {
  color: #e02450;
  background-color: white;
}

#footer-about .contact {
  color: white;
  margin-top: -9px;
  width: 350px;
}
#footer-about .contact a:hover {
  font-size: 1.1rem;
  color: white;
}
#footer-about .contact span {
  color: #e02450;
  font-size: 1.1rem;
}
.footer-top-border {
  background: #e02450;
  width: 100vw;
  height: 4px;
  position: absolute;
  bottom: 100px;
  left: 0;
}

/* Music */
#music-bd {
  overflow-y: auto;
}

#main-music {
  position: relative;
  display: block;
  width: 100vw;
  height: 100%;
}
.music-bg {
  position: fixed;
  top: 0;
  right: 0;
  width: 3000px;
  z-index: -30;
}
#main-music h1 {
  color: white;
  font-size: 2rem;
  margin-top: 120px;
  text-align: center;
  padding-bottom: 20px;
}
#music-flex {
  width: 80%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-left: 10%;
  padding-bottom: 60px;
}
#music-container {
  overflow: hidden;
  width: 300px;
  height: 200px;
  border: none;
  position: relative;
  margin-bottom: 20px;
}

#music-container:hover {
  cursor: pointer;
}
#music-container img {
  width: 400px;
  pointer-events: none;
  margin-left: -60px;
}

.genre-name {
  position: absolute;
  top: 0px;
  left: 0;
  right: 0;
  bottom: 0;
  color: white;
  transform: rotate(-45deg) translatey(-150px);
  transition: all 0.5s ease-in;
}
.genre-name h3 {
  position: absolute;
  font-size: 12px;
  width: 150px;
  bottom: 50px;
  right: 0;
  margin-right: 35%;
  transition: all ease-in-out 0.5s;
}

#music-container:hover > .genre-name {
  transform: translate(0) rotate(0);
}
#music-container:hover > .genre-name h3 {
  margin-bottom: 15%;
  margin-right: 22%;
  font-size: 18px;
  transition: all ease-in 0.5s;
}
#music-container:hover > .small {
  transform: translate(0) rotate(0);
}
#music-container:hover > .small h3 {
  margin-bottom: 15%;
  margin-right: 24%;
  font-size: 18px;
  transition: all ease-in-out 0.5s;
}

#music-container::before {
  content: "";
  position: absolute;
  top: -200px;
  right: 0;
  bottom: -200px;
  left: 0;
  background-color: rgba(224, 36, 80, 0.5);
}
#music-container::before {
  transform: rotate(45deg) translateX(-250px);

  transition: all 0.8s ease-in-out;
}
#music-container:hover::before {
  background: rgba(224, 36, 80, 1);
  transform: rotate(0) translate(0);
  transition: all 0.8s ease-in-out;
}

.music-genre {
  position: absolute;
  text-align: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  padding-top: 200px;
}

.music-genre h3 {
  color: white;
}
.music-genre h3:hover {
  color: white;
  opacity: 1;
}

/* contact */

#contact-container {
  position: relative;
  display: inline-block;
  width: 100vw;
  min-height: 80vh;
  padding-top: 20vh;
  background-color: rgba(0, 0, 0, 0.6);
}
#contact-container h1 {
  color: white;
  text-align: center;
}
#contact-bg {
  background: url("/img/form-bg-2.jpg") center center/cover;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  z-index: -30;
  max-height: 1000px;
}
.contact-bg img {
  width: 1500px;
}
#contact {
  width: 1500px;
}

#main-contact {
  position: relative;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.2);
  height: 100%;
  min-height: 100vh;
  width: 100vw;
}
#main-contact h1 {
  color: white;
  text-align: center;
  padding-top: 130px;
}
#form {
  display: block;
  float: left;
  width: 35vw;
  margin-left: 15vw;
}

.submit-form {
  width: 200px;
  height: 40px;
  margin-top: 15px;
  background: #e02450;
  border: none;
  color: white;
  font-size: 20px;
  transition: all 0.5s;
}
.submit-form:hover {
  color: #e02450;
  background: white;
}

#info {
  display: block;
  float: right;
  width: 40vw;
  height: 388px;
  margin-right: 10vw;
}
#info h3 {
  color: white;
  font-size: 1.2rem;
  margin-left: 40px;
  margin-top: 30px;
}
#info p {
  color: white;
  font-size: 1rem;
  margin-bottom: 10px;

  margin-left: 40px;
}
#info h2 {
  color: white;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 50px;
  margin-left: 20px;
}
#info ul {
  text-align: center;
  margin: 0 auto;
}
#info ul li {
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
  text-align: center;
  list-style: none;
}
#info ul li button {
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: none;
}
#info ul {
  height: 50px;
}
#icon-container {
  width: 50px;
  height: 50px;
}
#icon-container a {
  width: 50px;
  height: 50px;
}

#icon-container img {
  width: 40px;
  height: 40px;
  transition: all 0.5s;
}
#icon-container img:hover {
  width: 60px;
  height: 60px;
  transition: all 0.5s;
  transform: rotate(360deg);
}
#seperator {
  position: absolute;
  margin-left: 50%;
  margin-top: 30px;
  width: 2px;
  height: 300px;
  background-color: #e02450;
}
#form {
  margin-top: 30px;
  display: inline-block;
}
.form {
  width: 90%;
  position: relative;
  height: 50px;
  overflow: hidden;
}
.content-name {
  color: white;
}
.form input {
  width: 100%;
  height: 100%;
  border: none;
  color: white;
  padding-top: 20px;
  background-color: transparent;
  margin-top: -5px;
}
.form textarea {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  resize: none;
}

.form label {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 1px solid white;
  outline: none;
}

.form label:after {
  content: "";
  position: absolute;
  height: 100%;
  width: 101%;
  border-bottom: 3px solid #e02450;
  left: -1px;
  bottom: -1px;
  transform: translateX(-100%);
  transition: all 0.3s ease;
}
.content-name {
  position: absolute;
  bottom: 5px;
  left: 0px;
  transition: all 0.3s ease;
}
.message {
  color: white !important;
  font-weight: normal !important;
}

.form input:focus + .label-name .content-name,
.form input:valid + .label-name .content-name {
  transform: translateY(-150%);
  font-size: 14px;
  color: #e02450;
  font-weight: bold;
}

.form input:focus + .label-name:after,
.form input:valid + .label-name:after {
  transform: translateX(0%);
}
.form textarea:focus + .label-name .content-name,
.form textarea:valid + .label-name .content-name {
  transform: translateY(-300%);
  font-size: 14px;
  color: #e02450;
}
.big-box {
  height: 100px;
  /* margin-top: -20px; */
}
.big-box textarea {
  height: 70px;
}
.big-box .content-name {
  font-weight: bold;
  margin-bottom: 20px;
}
#submit-btn {
  display: block;
  float: right;
  width: 100px;
  height: 30px;
  background-color: white;
  color: #e02450;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  padding: 2px 0;
  margin-top: 20px;
  margin-right: 40px;
  cursor: pointer;
  border: none;
  transition: all 0.3s ease-in-out;
}
#submit-btn:hover {
  background-color: #e02450;
  color: white;
}
.contact-footer {
  margin-bottom: -20px;
}
.footer-contact {
  position: absolute !important;
  bottom: 0;
  height: 50px !important;
}

/* SCHOOL */
#school {
  overflow-y: auto;
}
#first-school {
  background: url("/img/school-bg.png") center center/cover;
  height: 100vh;
  width: 100vw;
  position: relative;
}
.school-top {
  z-index: 4 !important;
  position: absolute !important;
  top: 0 !important;
}
.school-top img {
  height: 200px !important;
}

#first-school {
  display: flex;
  align-items: center;
  justify-content: center;
}

#first-school h1 {
  color: white;
  font-size: 50px;
  text-align: center;
}
#first-school p {
  color: white;
  text-align: center;
  font-size: 20px;
  padding-top: 20px;
}
#first-school button {
  margin-top: 40px;
  width: 220px;
  height: 40px;
  background: #e02450;
  color: white;
  border: none;
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
  transition: all 0.5s ease-in-out;
}
#first-school button:hover {
  color: #e02450;
  background: white;
}
#pointer-down {
  position: absolute;
  bottom: 20px;
  left: 43%;

  /* transform: translate(-50%); */
  animation: bounce 2s infinite 2s;
}

@keyframes bounce {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1.1, 0.9) translateY(0);
  }
  30% {
    transform: scale(0.9, 1.1) translateY(-30px);
  }
  50% {
    transform: scale(1, 1) translateY(0);
  }
  57% {
    transform: scale(1, 1) translateY(-7px);
  }
  64% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}

#pointer-down h4 {
  color: white;
  margin-bottom: 10px;
  margin-right: 20px;
}

#pointer-down .left-arrow {
  width: 20px;
  height: 4px;
  background: white;
  border-radius: 10px;
  transform: rotate(45deg);
  margin-left: 27px;
}
#pointer-down .right-arrow {
  width: 20px;
  height: 4px;
  background: white;
  border-radius: 5px;
  transform: rotate(-45deg);
  margin-left: 40px;
  margin-top: -4px;
}

#second-school {
  position: relative;
  width: 100vw;
  height: 500px;
  background: rgba(0, 0, 0, 0.4);
  border-top: white solid 5px;
}
#second-school p {
  width: 50vw;
  margin: 0 auto 0;
  color: white;
  text-align: center;
  font-size: 1.2rem;
  padding-top: 160px;
}
#second-school .left-img {
  position: absolute;
  left: 0;
  width: 100%;
  height: 500px;
  z-index: -4;
}
#second-school .left-img img {
  height: 500px;
  width: 100%;
  z-index: -4;
}
#second-school .right-img {
  position: absolute;
  right: 0;
  /* top: 0; */
  width: 24.8vw;
  height: 500px;
  /* margin-top: -147px; */
}
#second-school .right-img img {
  height: 500px;
}
#third-school {
  height: 50px;
  width: 100vw;
  background-color: #e02450;
}
#third-school h1 {
  color: white;
  text-align: center;
  padding-top: 7px;
}

#fourth-school {
  position: relative;
  width: 100vw;
  height: 100%;
  background: url("/img/form-bg.jpg") center center/cover;
  overflow: hidden;
}

#fourth-school h1 {
  color: white;
  text-align: center;
  padding-top: 40px;
}
.footer-school {
  position: absolute !important;
  bottom: 0 !important;
}
.gradian-shcool {
  z-index: 0 !important;
  position: absolute !important;
  bottom: 0 !important;
}
.gradian-shcool img {
  height: 70px;
}
.footer-school {
  z-index: 3;
}
/* Hamburger menu */
.invisible-menu {
  display: none;
}
.menu-wrap {
  position: absolute;
  top: 0;
  right: 100px;
  z-index: 1;
}

.menu-wrap .toggler {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
  width: 60px;
  height: 60px;
  opacity: 0;
}
.menu-wrap .hamburger {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 60px;
  height: 60px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* hamburger line*/

.menu-wrap .hamburger > div {
  position: relative;
  flex: none;
  width: 60%;
  height: 2px;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}
/* hamburger icon top and bottom  */

.menu-wrap .hamburger > div:before,
.menu-wrap .hamburger > div:after {
  content: "";
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 2px;
  background: inherit;
}
.menu-wrap .hamburger > div:after {
  top: 10px;
}

/* toogler animation */

.menu-wrap .toggler:checked + .hamburger > div {
  transform: rotate(135deg);
}
/* this turns lines into X */
.menu-wrap .toggler:checked + .hamburger > div::before,
.menu-wrap .toggler:checked + .hamburger > div::after {
  top: 0;
  transform: rotate(90deg);
}
/* rotate on hover when checked */
.menu-wrap .toggler:checked:hover + .hamburger > div {
  transform: rotate(225deg);
}
/* show menu */
.menu-wrap .toggler:checked ~ .menu {
  visibility: visible;
}
.menu-wrap .toggler:checked ~ .menu > div {
  transform: scale(1);
  transition: all 0.4 ease 0.4;
}
.menu-wrap .toggler:checked ~ .menu > div > div {
  opacity: 1;
  transition: opacity 0.4s ease 0.4s;
}

.menu-wrap .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-wrap .menu > div {
  background: rgba(0, 0, 0, 0.6);
  border-radius: 50%;
  width: 300vw;
  height: 300vw;
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  transition: all 0.4s ease;
}
.menu-wrap .menu > div > div {
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.menu-wrap .menu > div > div > ul > li {
  list-style: none;
  color: #fff;
  font-size: 1.5rem;
  padding: 1rem;
}

.menu-wrap .menu > div > div > ul > li > a {
  color: inherit;
  text-decoration: none;
  transition: color 0.4s ease;
}
.menu-wrap .menu > div > div > ul > li > a:hover {
  color: #e02450;
}
/* LOADER CSS */
/* pre loader */
.sk-chase {
  width: 40px;
  height: 40px;
  position: relative;
  animation: sk-chase 2.5s infinite linear both;
}

.sk-chase-dot {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  animation: sk-chase-dot 2s infinite ease-in-out both;
}

.sk-chase-dot:before {
  content: "";
  display: block;
  width: 25%;
  height: 25%;
  background-color: #fff;
  border-radius: 100%;
  animation: sk-chase-dot-before 2s infinite ease-in-out both;
}

.sk-chase-dot:nth-child(1) {
  animation-delay: -1.1s;
}
.sk-chase-dot:nth-child(2) {
  animation-delay: -1s;
}
.sk-chase-dot:nth-child(3) {
  animation-delay: -0.9s;
}
.sk-chase-dot:nth-child(4) {
  animation-delay: -0.8s;
}
.sk-chase-dot:nth-child(5) {
  animation-delay: -0.7s;
}
.sk-chase-dot:nth-child(6) {
  animation-delay: -0.6s;
}
.sk-chase-dot:nth-child(1):before {
  animation-delay: -1.1s;
}
.sk-chase-dot:nth-child(2):before {
  animation-delay: -1s;
}
.sk-chase-dot:nth-child(3):before {
  animation-delay: -0.9s;
}
.sk-chase-dot:nth-child(4):before {
  animation-delay: -0.8s;
}
.sk-chase-dot:nth-child(5):before {
  animation-delay: -0.7s;
}
.sk-chase-dot:nth-child(6):before {
  animation-delay: -0.6s;
}

@keyframes sk-chase {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes sk-chase-dot {
  80%,
  100% {
    transform: rotate(360deg);
  }
}

@keyframes sk-chase-dot-before {
  50% {
    transform: scale(0.4);
  }
  100%,
  0% {
    transform: scale(1);
  }
}

#pre-loader {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #e02450;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader-invisable {
  display: none;
  opacity: 0;
  pointer-events: none;
}

#close-btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
  cursor: pointer;
}
#close-btn .first-x {
  width: 40px;
  height: 3px;
  background: white;
  transform: rotate(45deg);
  margin-top: 40px;
}
#close-btn .second-x {
  width: 40px;
  height: 3px;
  background: white;
  transform: rotate(-45deg);
  margin-top: -2px;
}

/* Media querrys */
@media all and (max-width: 1024px) {
  .invisible-menu {
    display: block;
  }
  .invisible {
    display: none !important;
  }
  #div-img {
    display: none;
  }
  .my-career-img {
    display: none;
  }
  #div-content {
    /* margin-top: -70px; */
    width: 100%;
  }
  #div-content p {
    width: 60%;
    margin-left: 20%;
    margin-top: 10px;
  }
  .dots {
    display: none;
  }
  #div-content h1 {
    margin-left: 20%;
  }
  #div-content ul {
    margin-left: 20%;
    font-size: 1rem;
  }
  #div-content h3 {
    margin-left: 20%;
    font-size: 1.5rem;
  }
  .about li {
    display: none;
  }
  .about h4 {
    margin-right: 30px;
  }
  .footer-container {
    width: 90vw;
    margin-left: 5vw;
    grid-template-columns: 0.6fr 0.1fr 1fr 0.1fr 1fr;
  }
  #footer-about .contact {
    width: 260px;
  }
  #footer-about .contact span {
    font-size: 0.9rem;
  }
  #footer-about a {
    font-size: 0.9rem;
  }

  /* contact */
  #info {
    width: 300px;
    float: left;
    margin-left: 50%;
    transform: translate(-50%);
  }
  #seperator {
    display: none;
  }
  #form {
    margin-left: 50%;
    transform: translate(-50%);
  }
  /* dj shcool */
  #second-school p {
    padding-top: 100px;
  }
  /* about */
  #div-content h1 {
    font-size: 2rem;
  }

  #list-div h3 {
    font-size: 1.5rem;
  }
  .div-ul li {
    font-size: 0.8rem;
  }
  #div-content p {
    font-size: 0.8rem;
  }
  #list-div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row: 1fr 1fr;
    width: 80vw;
    margin-left: -50px;
  }
  .list-1,
  .list-2 {
    display: block;
    width: 200px;
  }

  .list-3,
  .list-4 {
    display: inline-block;
  }
  .list-4 {
    display: none;
  }

  #arrow-right img {
    width: 50px;
    height: 50px;
    margin-left: 50px;
  }
  #arrow-left img {
    width: 50px;
    height: 50px;
  }
  .div-h1 {
    margin-left: -10px !important;
  }
}

@media all and (max-width: 768px) {
  .list-1,
  .list-2,
  .list-3,
  .list-4 {
    display: inline;
  }
  #list-div {
    display: block;
  }

  /* .list-1,
  .list-2 {
    margin-left: 77px;
  } */
  /* .div-h1 {
    margin-left: 65px !important;
    font-size: 2rem !important;
  } */
  /* .list-3,
  .list-4 {
    margin-left: -95px;
  } */

  .mySlides {
    display: inline-block;
    /* justify-content: center; */
    /* align-content: center; */
    height: 90%;
  }

  #home-footer {
    height: 100px;
  }
  #buttons {
    text-align: center;
  }

  #seek-bar {
    grid-column: 2;
  }
  #popupbtn {
    display: none;
  }
  #player-cont {
    width: 90vw;
    float: left;
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
  #form {
    width: 240px;
  }
  /* about me */
  .div-h1 {
    font-size: 1.4rem !important;
    margin-left: 20% !important;
  }
  .div-h3 {
    font-size: 1.1rem !important;
  }
  #div-content h3 {
    font-size: 1.1rem !important;
  }
  .div-ul {
    font-size: 0.8rem !important;
  }

  /* dj school */
  #second-school p {
    padding-top: 50px;
    width: 80vw;
  }
  #third-school h1 {
    padding-top: 11px;
    font-size: 1rem;
  }
  /* footer */
  .about {
    display: none;
  }
  #footer-separator {
    display: none;
  }
  .footer-container {
    display: flex;
    justify-content: center;
  }
  .school {
    width: 200px;
  }
  .school h4 {
    display: none;
  }
  .school a {
    margin-right: 30px;
  }
}
